.btn-blue{
           font-weight: bold;
           padding: 5px 5px;
           border-radius: 4px;
           color: white;
           font-family: 'Roboto', sans-serif;
           background-color: darkgreen;
}